.page-container-input {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.page-container-input .page-grid-input {
  position: relative;
  border: solid 1px #5a5b66;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 900px;
  height: 51px;
  display: flex;
  justify-content: flex-end;
}
.page-container-input .page-grid-input input {
  position: relative;
  width: 95%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #21212d;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 44px;
  border-radius: 5px;
}

.page-container-input .page-grid-input input::placeholder {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  padding-left: 3px;
}

.page-container-input .page-grid-input button {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 5%;
  background-color: #21212d;
  border: none;
  outline: none;
  font-size: 40px;
  color: #5a5b66;
  cursor: pointer;
  top: 1px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 768px) {
  .page-container-input .page-grid-input input {
    width: 90%;
  }
  .page-container-input .page-grid-input button {
    width: 10%;
  }
}
